/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  background-repeat: no-repeat;
  height: calc(100% - 60px);
  font-family: 'Lato', sans-serif;
}
i{
  cursor: pointer;
}
/* main */
main{
  height: 100%
}
#box{
  max-width: 1200px;
  height: 90vh;
  margin: 30px auto;
  display: flex;
}
/* aside */
aside{
  width: 40%;
  height: 100%;
  background-color: #fff;
}
.chat{
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}
.profile{
  height: 70px;
  background-color: #EAEAEA;
  padding: 10px;
  display: flex;
  align-items: center;
}
.profile-img{
  width: 40px;
  height: 40px;
  margin-right: 20px;
}
.profile-img img{
  width: 100%;
  border-radius: 100%;
  overflow: hidden;
}
.actions{
  width: 70%;
  text-align: right;
}
.actions i{
  color: #b1b1b1;
  font-size: 18px;
  margin-left: 15px;
}

.notifications{
  padding: 10px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.bell{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 20px;
}
.bell i{
  font-size: 25px;
  color: #8EDAFC;
  line-height: 50px;
}
.turn-on{
  color: #6B7376;
}
.search-bar{
  background-color: #fff;
  padding: 10px;
}
.search-bar i{
  color: #b1b1b1;
  vertical-align: middle;
  padding: 5px;
}
.search{
  width: 80%;
  border: none;
  margin-left: 20px;
  padding: 5px;
  vertical-align: middle;
}
.messages{
  background-color: #eaeaea;
}
.chat-person{
  display: flex;
  padding: 15px;
}
/* sezione chat */
.chat{
  position: relative;
}
.chat-header{
  height: 70px;
  display: flex;
  align-items: center;
  padding: 10px;
  background: #EAEAEA;
}
.chat-actions{
  width: 75%;
  text-align: right;
}
.chat-actions i{
  color: #b1b1b1;
  font-size: 18px;
  margin-left: 15px;
}
.chat-messages{
  display: flex;
  flex-direction: column;
  width: 80%;
  height: calc(100% - 130px);
  margin: 30px auto;
}
.message-left{
  min-width: 40%;
  max-width: 60%;
  background: #fff;
  border-radius: 20px;
  align-self: flex-start;
  margin: 10px 0;  
}
.message-right{
  min-width: 40%;
  max-width: 60%;
  border-radius: 20px;
  background-color: #D5F9BA;
  align-self: flex-end;
  margin: 10px 0;
}
.text{
  padding: 10px;
  line-height: 30px;
}
.date{
  font-size: 12px;
  text-align: right;
  margin-right: 10px;
  color: #B1B1B1;

}
.message-input{
  width: 100%;
  background-color: #F3EEEA;
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
}
.emoji{
  display: inline-block;
  color: #6B7376;
  margin-right: 20px;
  vertical-align: middle;
  font-size: 18px;
}
.write-msg{
  width: 85%;
  padding: 10px;
  border: none;
}
.mic{
  display: inline-block;
  color: #6B7376;
  margin-left: 20px;
  vertical-align: middle;
  font-size: 18px;
}
