/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  background-repeat: no-repeat;
  height: 100vh;
}
/* main */
#box{
  max-width: 1200px;
  height: 80vh;
  margin: 30px auto;
  display: flex;
}
/* aside */
aside{
  width: 40%;
  height: 100%;
  background-color: #fff;
}
.chat{
  width: 60%;
  height: 100%;
  background-image: url(../img/mine.jpg);
}
.profile{
  background-color: #EAEAEA;
  padding: 10px;
  display: flex;
  align-items: center;
}
.profile-img{
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 100%;
  margin-right: 20px;
}
.actions{
}
.actions i{
  color: #b1b1b1;
  font-size: 18px;
  margin-left: 8px;
}

.notifications{
  padding: 10px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.bell{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 20px;
}
.bell i{
  font-size: 25px;
  color: #8EDAFC;
  line-height: 50px;
}
.turn-on{
  color: #6B7376;
}
.search-bar{
  background-color: #fff;
  padding: 10px;
}
.search-bar i{
  color: #b1b1b1;
  vertical-align: middle;
  padding: 5px;
}
.search{
  width: 80%;
  border: none;
  margin-left: 20px;
  padding: 5px;
  vertical-align: middle;
}
.messages{
  background-color: #eaeaea;
}
.chat-person{
  display: flex;
  padding: 15px;
}
/* sezione chat */
.chat-header{
  display: flex;
  align-items: center;
  padding: 10px;
  background: #EAEAEA;
}
.chat-actions i{
  color: #b1b1b1;
  font-size: 18px;
  margin-left: 8px;
}
.chat-messages{
  width: 80%;
  height: 100%;
  background-color: green;
  margin: 30px auto;
}
.message-left{
  width: 40%;
  height: 60px;
  background: #fff;
  border-radius: 20px;
  float: left;
}
.text{
  padding: 10px;
  line-height: 30px;
}
.message-right{
  width: 40%;
  height: 60px;
  border-radius: 20px;  
  background-color: #D5F9BA;
  float: right;
}
