/* reset */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* mix */
body{
  background: linear-gradient(to top, #dbdbd2 86%, #009688 86%);
  background-repeat: no-repeat;
  height: 100vh;
}
/* main */
#box{
  max-width: 1200px;
  height: 80vh;
  background: pink;
  margin: 30px auto;
  display: flex;
}
/* aside */
aside{
  width: 40%;
  height: 100%;
  background-color: green;
}
.message{
  width: 60%;
  height: 100%;
  background: blue;
}
.profile{
  background-color: #EAEAEA;
  padding: 10px;
  display: flex;
  align-items: center;
}
.profile-img{
  width: 40px;
  height: 40px;
  background: #000;
  border-radius: 100%;
  margin-right: 20px;
}
.actions{
}
.actions i{
  color: #b1b1b1;
  font-size: 18px;
  margin-left: 8px;
}

.notifications{
  padding: 10px;
  background-color: #8EDAFC;
  display: flex;
  align-items: center;
}
.bell{
  width: 50px;
  height: 50px;
  background-color: #fff;
  border-radius: 100%;
  text-align: center;
  margin-right: 20px;
}
.bell i{
  font-size: 25px;
  color: #8EDAFC;
  line-height: 50px;
}
.turn-on{
  color: #6B7376;  
}
.search-bar{
  background-color: #fff;
  padding: 8px;
}
.search-bar i{
  color: #b1b1b1;
  vertical-align: middle;
}
.search{
  width: 80%;
  border: none;
  margin-left: 20px;
  padding: 5px;
  vertical-align: middle;
}
